spring:
  redis:
    host: localhost
    port: 6379
    password: your_password
    database: 0
    timeout: 10000
    lettuce:
      pool:
        max-active: 8
        max-wait: -1
        max-idle: 8
        min-idle: 0

tiem:
  token:
    token-name: X-Token
    token-storage: 
      - HEADER
      - COOKIE
    token-prefix: "Bearer "  # 设置为空字符串则不使用前缀
    cookie-max-age: 86400
    cookie-path: /
    cookie-domain: example.com
    cookie-http-only: true
    store-type: redis
    token-expire-time: 86400

logging:
  level:
    com.tiem.token: debug 